<!-- IMPORTS: Jinja
1. error_type
2. error_message

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" href="/static/css/root.css">

    <script src="/static/js/cs-render.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/exception_error.css">

    <title>An error has occurred!</title>
</head>
<body>
    <img id="error-img" src="/static/css/svg/exception_error.svg" alt="error-img">

    <h1 id="error-title">An internal error has occurred.</h1>
    <p class="error-message">We have encountered an internal error from our servers. This is not your fault & is part of an error on our end.</p>
    <p class="error-message">Our engineers have received a full report on the issue & will begin assessing. We apologise for the inconvenience.</p>

    <p id="error-code">7278020b3391364ca3e451f7edb788bb7b04fdb6dea47c66ad34d1cc427a4dce</p>
</body>
</html>